<div class="text-center">
  <h1>Image</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with model: current_user, local: true do |f| %>
      <div class="form-group">
        <%= f.hidden_field(:image_cache) %>
        <%= f.file_field :image %><%= f.submit 'Upload', class: 'btn btn-primary' %>
      </div>  
    <% end %>
  </div>
</div>
