<div class="row">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item nav-link col-sm-12">
      <a class="nav-link active" href="#">ManyFavorite</a>
    </li>
    <li class="nav-item nav-link col-sm-2">
      <a class="nav-link" href="#">New</a>
    </li>
    <li class="nav-item nav-link col-sm-2">
      <a class="nav-link" href="#">Old</a>
    </li>
    <li class="nav-item nav-link col-sm-2">
      <a class="nav-link" href="#">Favorite</a>
    </li>
  </ul>
</div>
<div class="row">
  <ul class="list-unstyled">
    <% @books.each do |book| %>
    <li class="media mb-3">
      <div class="media-body">
        <div>
          <%= link_to book.user.name, user_path(book.user) %> <span class="text-muted">posted at <%= book.created_at %></span>
        </div>
        <div>
        <p><%= book.explain %></p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>